.container {
	width: 100%;
}

.nitts-box {
	display: block;
	margin: 10px;
	background-image: linear-gradient(to left, #00CCCD, #1287A5);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
	border-radius: 30px;
}

.nitts {
	padding: 5px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 1.5;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-box {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 720px) {
	.container-box {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}


@media only screen and (max-width: 600px) {
	.nitts {
		padding: 5px;
		text-align: center;
		color: #fff;
		font-weight: 600;
		font-style: italic;
		letter-spacing: 1.5;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.container-box {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 300px) {
	.container-box {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 600px) {
	.container-box {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.container-box .box {
	background-image: linear-gradient(to left, #00CCCD, #1287A5);
	padding: 50px;
	display: grid;
	justify-items: center;
	align-items: center;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	margin: 5px;
}

.container-box .box .spinner {
	height: 100px;
	width: 100px;
	/* background: rgba(0, 0, 0, 0.1); */
	border-radius: 50%;
}

/* Spinner 1 */

.container-box .box .spinner--1 {
	border: 3px solid #0044ff;
	border-top-color: rgba(255, 255, 255, 0.9);
	animation: spinner1 800ms reverse infinite;
}

@keyframes spinner1 {
	to {
		transform: rotate(360deg);
	}
}

/* Spinner 2 */

.container-box .box .spinner--2 {
	border: 2px solid #0044ff;
	border-top-color: #fff;
	animation: spinner2 600ms linear infinite;
}

@keyframes spinner2 {
	to {
		transform: rotate(360deg);
	}
}

/* Spinner 3 */

.container-box .box .spinner--3 {
	border: 2px solid #0044ff;
	border-bottom-color: #fff;
	border-top-color: #fff;
	animation: spinner3 800ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes spinner3 {
	to {
		transform: rotate(360deg);
	}
}

/* Spinner 4 */

.container-box .box .spinner--4 {
	transform: scale(0);
	background: rgba(0, 0, 0, 0.3);
	opacity: 1;
	animation: spinner4 800ms forwards infinite;
}

@keyframes spinner4 {
	0% {
		transform: scale(0);
		opacity: 1;
	}

	40% {
		transform: scale(1.5);
		opacity: 0.4;
	}

	100% {
		transform: scale(0.5);
		opacity: 0;
	}
}

/* Spinner 5 */

.container-box .box .spinner--5 {
	border: 2px solid #0044ff;
	animation: spinner5 800ms ease-in-out infinite;
}

@keyframes spinner5 {
	0% {
		border-radius: 50%;
		;
		transform: rotate(0);
		transform: scale(0.5);
	}

	50% {
		transform: rotate(180deg);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	100% {
		border-radius: 50%;
		transform: rotate(360deg);
	}
}

/* Spinner 6 */

.container-box .box .spinner--6 {
	border-top: 2px solid #0044ff;
	border-right: 2px solid transparent;
	animation: spinner6 700ms linear infinite;
}

@keyframes spinner6 {
	to {
		transform: rotate(360deg);
	}
}


.loader {
	position: relative;
	margin: 0 auto;
	width: 100px;
}

.loader::before {
	content: '';
	display: block;
	padding-top: 100%;
}


.circular1 {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path1 {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {

	100%,
	0% {
		stroke: red;
	}

	40% {
		stroke: blue;
	}

	66% {
		stroke: green;
	}

	80%,
	90% {
		stroke: yellow;
	}
}

/* second spinner */

.circular2 {
	animation: rotate 2s reverse infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path2 {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s reverse infinite, color 6s reverse infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {

	100%,
	0% {
		stroke: yellow;
	}

	40% {
		stroke: blue;
	}

	66% {
		stroke: green;
	}

	80%,
	90% {
		stroke: red;
	}
}

.container-box .box .spinner--7 {
	border-left: 4px red solid;
	border-top: 4px green solid;
	border-right: 4px blue solid;
	border-bottom: 4px yellow solid;
	border-radius: 50%;
	animation: spinner7 1s infinite linear;
}

@keyframes spinner7 {
	to {
		transform: rotate(360deg);
	}
}

.container-box .box .spinner--8 {
	border-left: 4px red solid;
	border-top: 4px green solid;
	border-right: 4px blue solid;
	border-bottom: 4px yellow solid;
	border-radius: 50%;
	animation: spinner8 1s infinite linear;
}

@keyframes spinner8 {
	to {
		transform: rotate(360deg);
	}
}

.container-box .box .spinner--8 {
	border: 3px solid transparent;
	border-top-color: green;
	border-radius: 50%;
	-webkit-animation: spinner8 2s linear infinite;
	animation: spinner8 2s linear infinite;
}

.container-box .box .spinner--8:before {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-top-color: red;
	animation: spinner8 3s linear infinite;
}

.container-box .box .spinner--8:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-top-color: yellow;
	-webkit-animation: spinner8 1.5s linear infinite;
	animation: spinner8 1.5s linear infinite;
}

@keyframes spinner8 {
	to {
		transform: rotate(360deg);
	}
}

.container-box .box .spinner--9 {
	border: 3px solid transparent;
	border-top-color: red;
	border-radius: 50%;
	animation: spinner9 2s linear infinite;
}

.container-box .box .spinner--9:before {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 3px solid transparent;
	border-top-color: green;
	border-radius: 50%;
	animation: spinner9 1.5s forwards infinite;
}

.container-box .box .spinner--9:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	background-color: yellow;
	border: 3px solid transparent;
	border-top-color: blue;
	border-radius: 50%;
	animation: spinner9 3s linear infinite;
}

@keyframes spinner9 {

	to {
		transform: rotate(360deg);
	}
}


